<form (ngSubmit)="editLevel()" #f="ngForm">
  <h3>Edit Level</h3>
    <div class="form-group">
      <label for="level_id">Level Identifier</label>
      <input type="text" class="form-control" id="level_id" [(ngModel)]="Editlevel_id" (ngModelChange)="onChange($event)" name="level_id" #levelId="ngModel" aria-describedby="emailHelp" readonly placeholder="Level Identifier" ngModel >
      <!-- <small id="emailHelp" class="form-text text-muted">{{message}}</small> -->
    </div>
    <div class="form-group">
      <label for="number">Level Number</label>
      <input type="number" class="form-control" name="number" id="number"  [(ngModel)]="Editnumber" ngModel #number="ngModel" placeholder="Level No" required>
    </div>
    <div class="form-group">
        <label for="name">Level Name</label>
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="Editname" ngModel #name="ngModel" placeholder="Level name" required>
      </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" id="description" [(ngModel)]="Editdescription" ngModel #description="ngModel" placeholder="Description" required>
      </div>
        <div class="form-group">
            <label for="qualification_points">Qualification Points</label>
            <input type="number" class="form-control" name="qualification_points" [(ngModel)]="Editqualification_points" id="qualification_points" ngModel #qualificationPoints="ngModel" placeholder="Qualification Points" required>
          </div>
    <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Submit</button>
    <button class="btn btn-warning"(click)="goBack()">Cancel</button>
  </form>