<div class="card text-center" style="width: 25rem; height:30rem" *ngIf="!isGraphFetched">
  <div >
    Fetching data...
  </div>
</div>
<div class="card text-center" style="width: 25rem; height:30rem" *ngIf="isGraphFetched">
  
    <div >
      <div class="flex">
        <div class="flex-item">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"
              ></canvas>
          </div>
        </div>
      </div>
    </div>


  </div>