<div class="card" style="margin: 35px; ">
    <div class="card-header">
            About
    </div>
    <div class="card-body">
            <blockquote class="blockquote mb-0">
                    <p>Nagarro Accelerated Growth Program is an Initiative run by Nagarro to enable learning paired
                            with faster growth opportunities for the potential employees.</p>
                    <footer class="blockquote-footer">Thinking Breakthrough | <cite title="Source Title">Nagarro</cite></footer>
            </blockquote>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
            <div class="col-sm">
                    <div class="card text-white bg-primary mb-3" style="width: 20rem; height:20rem; margin: 25px; ">
                            <div class="card-header">Explore Further</div>
                            <div class="card-body">
                                    <h3 class="card-title">Levels</h3>
                                    <p class="card-text">Here you can find the list of all availabe levels in our database , explore
                                            further to add new Levels or edit the existing ones!</p>
                                    <button class="btn btn-light" (click)="goTo('level')">Go to Levels</button>
                            </div>
                    </div>
            </div>
            <div class="col-sm">
                    <div class="card text-white bg-success mb-3" style="width: 20rem; height:20rem;margin: 25px;">
                            <div class="card-header">Explore Further</div>
                            <div class="card-body">
                                    <h3 class="card-title">Activities</h3>
                                    <p class="card-text">NAGP-Activities, filter them based on Batch and Level or search them by the
                                            name. </p>
                                    <button class="btn btn-light" (click)="goTo('activity')">Go to Activities</button>
                            </div>
                    </div>
            </div>
            <div class="col-sm">
                    <div class="card text-white bg-info mb-3" style="width: 20rem; height:20rem;margin: 25px;">
                            <div class="card-header">Explore Further</div>
                            <div class="card-body">
                                    <h3 class="card-title">Batches</h3>
                                    <p class="card-text">There are multiple Batches of NAGP running in parallel.Enroll Applicants
                                            or create a new one </p>
                                    <button class="btn btn-light" (click)="goTo('batch')">Go to Batches</button>
                            </div>
                    </div>
            </div>
            <div class="col-sm">
                    <div class="card text-white bg-warning mb-3" style="width: 20rem; height:20rem;margin: 25px;">
                            <div class="card-header">Explore Further</div>
                            <div class="card-body">
                                    <h3 class="card-title">Applicants</h3>
                                    <p class="card-text">Create new Applicants , or view existing ones ! </p>
                                    <button class="btn btn-light" (click)="goTo('applicant')">Go to Applicants</button>
                            </div>
                    </div>
            </div>

    </div>
</div>