<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
<!-- <ul class="nav" style="background-color : #563D7B;padding-top: 30px;
padding-bottom: 30px; ">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <div class="button btn btn-danger">Log Out</div>
</ul> -->

<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" style="color: white;">NAGP</a>
    <form class="form-inline">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <h3 style="margin: 10px" style="color: white;">{{username}}</h3>
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()" style="margin: 10px">Log out</button>
      <button class="btn btn-outline-primary my-2 my-sm-0" (click)="home()" style="margin: 10px">Home</button>
    </form>
  </nav>




<!-- <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">NAGP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
       
      </div>
    </nav>
  </header> -->